<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />  
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="@Assets[_content/MudBlazor/MudBlazor.min.css]" rel="stylesheet" />
    <ImportMap />
    @*#if (SampleContent)
    <link rel="icon" type="image/ico" href="favicon.ico" />
    ##endif*@
    @*#if (!InteractiveAtRoot)
    <HeadOutlet />
    ##elseif (IndividualLocalAuth)
    <HeadOutlet @rendermode="PageRenderMode" />
    ##elseif (UseServer && UseWebAssembly)
    <HeadOutlet @rendermode="InteractiveAuto" />
    ##elseif (UseServer)
    <HeadOutlet @rendermode="InteractiveServer" />
    ##else
    <HeadOutlet @rendermode="InteractiveWebAssembly" />
    ##endif*@
</head>

<body>
    @*#if (!InteractiveAtRoot)
    <Routes />
    ##elseif (IndividualLocalAuth)
    <Routes @rendermode="PageRenderMode" />
    ##elseif (UseServer && UseWebAssembly)
    <Routes @rendermode="InteractiveAuto" />
    ##elseif (UseServer)
    <Routes @rendermode="InteractiveServer" />
    ##else
    <Routes @rendermode="InteractiveWebAssembly" />
    ##endif*@
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    @*#if (IndividualLocalAuth)
    <script src="_content/Extensions.MudBlazor.StaticInput/NavigationObserver.js"></script>
    ##endif*@
</body>

</html>
@*#if (!InteractiveAtRoot || !IndividualLocalAuth)
#elseif (UseServer && UseWebAssembly)

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveAuto : null;
}
#elseif (UseServer)

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveServer : null;
}
#else

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    private IComponentRenderMode? PageRenderMode =>
        HttpContext.AcceptsInteractiveRouting() ? InteractiveWebAssembly : null;
}
#endif*@
